<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/libs/webix.min.css}">
    <script th:src="@{/libs/webix.min.js}"></script>
    <script th:src="@{/libs/jquery-3.4.1.min.js}"></script>
<!--&lt;!&ndash;    <script src="/static/js/views/import.js"></script>&ndash;&gt;-->
<!--    <script th:src="@{/js/views/import.js}"></script>-->
</head>
<body>
<div id="app"></div>
<script th:inline="javascript"></script>
<script th:src="@{/js/import.js}"></script>

</body>
</html>
